<div class="d-flex justify-content-center align-items-center " [style.height]="'80vh'">
    <div class="w-75">
        <table class="table table-dark bg-dark table-bordered">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Immagine
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of listaCat">
                    <td>{{cat.nome}}</td>
                    <td><img src="{{cat.img}}" alt="img {{cat.nome}}"></td>
                    <td class="text-center">
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-danger" title="Cancella" (click)="_deleteCat()"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                            <button class="btn btn-primary" title="Modifica"><fa-icon [icon]="editIcon"></fa-icon></button>
                            <button class="btn btn-info" title="Mostra Prodotti" routerLink = "/dm/prodotti/{{cat.id}}"><fa-icon [icon]="showProd"></fa-icon></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>