<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">HOME</a>
    <form class="form-inline" action="">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div *ngIf="!loginStatus">
        <button class="btn btn-primary" routerLink="/login">
            Login
        </button>
    </div>
    <div *ngIf="loginStatus" class="text-black">
        <a class="btn btn-link" (click)="dataManagementRoute()">Welcome, {{this.username}} </a>
        <button class="btn btn-danger" (click)="logOut()">LogOut</button>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center flex-column">

    <p>BENVENUTO NEL MIO PROGETTO PERSONALE FULLSTACK, TECNOLOGIE UTILIZZATE:</p>
    <ul>
        <li>
            Angular
        </li>
        <li>
            Spring Boot
        </li>
        <li>
            Spring Security
        </li>
        <li>
            Hibernate
        </li>
        <li>
            Bootstrap
        </li>
        <li>
            JWT
        </li>
        <li>
            JPA
        </li>
    </ul>
    <p>
        Per poter avviare il progetto nel modo corretto è necessario avviare la parte BackEnd
        sulla porta 8080 e avere un database in MySQL alla porta 3306 con nome jwtproject, è possibile
        modificare il file application.java sempre nel progetto backend in caso di necessita.
        Per ovviare al problema del CrosOrigin Policy avviare il progetto di angular alla porta 4200
    </p>
    <p>
        Le credenziali di accesso sono:
            "username" : "admin"
            "password" : "password1"
    </p>
    <!-- <tr *ngFor="let cat of listaCat">
                    <td>{{cat.nome}}</td>
                    <td> <img src="" alt="{{cat.img}}"></td>
                </tr> -->
</div>