<div class="card position-fixed mw-30 shadow-lg bg-white rounded">
    <div class="card-header container">
        <div class="row">
            <div class="col-11">
                MODIFICA
            </div>
            <div class="col-1 text-center">
                <button class="btn" (click)="_showEditForm()">
                    <fa-icon [icon]="closeIcon"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="formData">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" formControlName="username">
                <div  *ngIf="formData.controls.username.touched">
                    <div class="alert alert-danger" *ngIf="formData.controls.username.errors?.required">
                        Questo campo va compilato
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="newUser">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" formControlName="password">
                <div *ngIf="formData.controls.password.touched">
                    <div class="alert alert-danger" *ngIf="formData.controls.password.errors?.pattern">
                        La password deve contenere almeno:
                        <ul>
                            <li>Una lettera minuscola</li>
                            <li>Una lettera maiuscola</li>
                            <li>Un numero</li>
                            <li>Avere una lunghezza compresa tra 8 e 15</li>
                        </ul>
                    </div>
                    <div class="alert alert-danger" *ngIf="formData.controls.password.errors?.required">
                        Questo campo va compilato
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email" formControlName="mail">
            </div>
            <div class="form-group">
                <label for="role">Ruolo</label>
                <select class="form-control" id="role" formControlName="role">
                    <option value="AMMINISTRATORE">AMMINISTRATORE</option>
                    <option value="SUBAMMINISTRATORE">SUBAMMINISTRATORE</option>
                    <option value="UTENTE">UTENTE</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="enabled" value="true" formControlName="enabled">
                <label class="form-check-label" for="enabled">Enabled</label>
            </div>
            <div class="text-center" *ngIf="!newUser" (click)="_onEdit()">
                <button class="btn btn-primary">Conferma</button>
            </div>
            <div class="text-center" *ngIf="newUser" (click)="_onAdd()">
                <button class="btn btn-primary">Aggiungi</button>
            </div>
        </form>
    </div>
</div>