<div class="container-fluid d-flex justify-content-center align-items-center flex-column min-vh-100" *ngIf="!loginStatus">
    <div class="row">
        <div class="col-12 text-center">
            <h1>LOGINPAGE</h1>
        </div>
    </div>
    <div class="row mw-50">
        <div class="col-12">
            <form [formGroup]="loginForm" (ngSubmit)="onSub()">
                <div class="form-group">
                    <label for="username">username: </label>
                    <input class="form-control" type="text" id="username" formControlName="username">
                    <div *ngIf="loginForm.controls.username.touched">
                        <div class="alert alert-danger" *ngIf="loginForm.controls.username.errors?.required"><!--Importante mettere errors?, il punto di domanda fa si che errors cambi-->
                            Questo campo va compilato
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">password: </label>
                    <input class="form-control" type="password" id="password" formControlName="password">
                    <div *ngIf="loginForm.controls.password.touched">
                        <div class="alert alert-danger" *ngIf="loginForm.controls.password.errors?.required"><!--Importante mettere errors?, il punto di domanda fa si che errors cambi-->
                            Questo campo va compilato
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">LogIn</button>
                </div>
            </form>
            <br>
            <div class="alert alert-danger" *ngIf="failedAuth">
                Autenticazione Fallita, credenziali non corrette
            </div>
            <div class="text-center">
                <a class="btn btn-danger">
                    Registra nuovo utente
                </a>
            </div>
        </div>
    </div>
</div>