<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dm/admin">Gestione Dati<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="_accTypeAdmin()">
                <a class="nav-link" routerLink="/dm/categorie">GestioneCategorie <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="_accTypeAdmin()">
                <a class="nav-link" routerLink="/dm/prodotti/-1">GestioneProdotti <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>