
<div class="container-fluid d-flex justify-contente-center align-items-center w-75" style="height: 80vh">
    <table class="table table-striped table-dark table-hover table-bordered" *ngIf="_accTypeAdmin()">
        <thead class="thead-dark text-center">
            <tr>
                <th>Username</th>
                <th>Credenziali</th>
                <th>Email</th>
                <th>Account Attivo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>{{user.mail}}</td>
                {{status(user.enabled)}}
                <td class="text-center">
                    <fa-icon [icon]="statusIcon" [styles]="{'color': statusIconColor}"></fa-icon>
                </td>
                <td>
                    <div class="d-flex justify-content-around" *ngIf="user.id != null">
                        <button class="btn btn-primary w-25" (click)="_showEdit(true, user)">
                                <fa-icon [icon]="editIcon" [styles]="{'color': 'white'}"></fa-icon>
                        </button>
                        <button class="btn btn-danger w-25" (click)="delete(user.id)">
                                <fa-icon [icon]="deleteIcon" [styles]="{'color': 'white'}"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="5">
                <button class="btn btn-primary btn-lg btn-block" (click)="_showEdit(true)">
                    AGGIUNGI
                </button>
            </td>
        </tfoot>
    </table>
</div>
<app-form-data-management *ngIf="showEdit" (showEditForm)="_showEdit($event)" [user]="userEdit"></app-form-data-management>